
.work {
    /* Positioning */
    position: relative;
    float: center;
  
    /* Box-model */
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
    
  }
  
  .work img {
    /* Box-model */
    width: 100%;
  
    /* Visual */
    /* border: 0 none; */
    
  }
  
  .work h3 {
    /* Positioning */
    position: absolute;
    bottom: 20px;
    width: 100%;
  
    /* Box-model */
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
  
    /* Typography */
  
    color: #fff;
    text-align: center;
    background: #4aaaa5;
  }
  background{
      color: #4aaaa5
  }  